html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: lightsteelblue;
}

.container {
  width: 99%;
  height: 70%;
  margin: 0;
  border: 1px inset black;
  display: flex;
}
.anim {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0px;
  height: 100px;
  z-index: -5;
  /*background: -webkit-linear-gradient(left, lightsteelblue, lime, lightsteelblue);*/
  animation-name: anim;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: all 1s;
}

@keyframes anim {
  from {
    background: -webkit-linear-gradient(left, lightsteelblue, lime, lightsteelblue);
  }
  to {
    background: -webkit-linear-gradient(left, lime, lightsteelblue, lime);
  }
}
